/* 全体設定 */
html{
  background: #FBF9FA;
  margin: 0;
}
body{
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}
ul{
  font-weight: lighter;
}
li{
  padding-top: 15px;
}
ul li a {
  color: #F1F1F1;
  transition: color .3s;
  color: #000;
}
video{
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
}

/* トップ */
.menubar a:hover {
  background: #F2E744;
  transition: .7s;
}
.header{
  display: flex;
  position: relative;
  background-size: cover;
}
.logomenu img{
  margin: 30px 0 0 50px;
  position: fixed;
  z-index: 2000;
  top: 20px;
}
.menubar{
  background-color: #ffffff;
  border-radius: 5%;
  padding: 10px 20px 20px 20px;
  width: 190px;
  text-align: center;
  position: fixed;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .1));
  z-index: 3000;
  top: 160px;
  left: 30px;
}
#to-post{
  font-size: 13px;
}
.menubar li{
  list-style: none;
}
#logo{
  width: 160px;
  height: 100px;
  left: 10px;
}
.bg{
  height: 500px;
  z-index: -1000;
}
#top{
  width: 100%;
  height: 780px;
  position: fixed;
  
}
.headline{
  position: fixed;
  top: 80%;
  left: 70%;
  color: white;
}

.proper{
  width: 200px;
  height: 200px;
  top: 22%;
  left: 20%;
  position: fixed;
  text-align: center;
  padding: 15px;
  z-index: 1px;
}
.proper p{
  font-size: 20px;
}

.proper h2{
  font-size: 30px;
}

.proper a{
  text-decoration: underline;
  padding-top: 500px;
  margin-top: -500px;
}

/* コンテンツ */
.center{
  margin-left: 300px;
  margin-right: 50px;
  position: relative;
  z-index: 1000;
}

/* 漫画 */
.post-it {
  margin-top: 300px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: #FBF9FA;
  position: relative;
  z-index: 1000;
}
.post-it h1{
  padding: 20px 30px;
  background: #F0E14C;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
  font-size: 35px;
  margin: 130px 0 80px 0;
}
.post-it h1::after{
  content: "●";
  color: #FBF9FA;
  position: absolute;
  top: 25%;
  right: 20px;
}
.manga img{
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
}

/* スマートポストとは */
.about h1 {
  margin: 130px 0 80px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #F0E14C;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}
.about h1::after{
  content: "●";
  color: #F3F3F3;
  position: absolute;
  top: 25%;
  right: 20px;
}
.about{
  text-align: center;
  position: relative;
  height: 1700px;
  background: #F3F3F3;
}
.comment{
  display: block;
  height: 400px;
  z-index: 3;
  position: relative;
}
#com-1{
  width: 200px;
  padding: 20px;
  position: absolute;
  background: #FFF9A4;
  border-radius: 25px;
  top: -50px;
  right: 290px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
  text-align: left;
}
#com-1::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 100%;
  border: 15px solid transparent;
  border-left: 15px solid #FFF9A4;
  width: 0;
  height: 0;
}
#com-2{
  width: 200px;
  padding: 20px;
  position: absolute;
  background: #fff;
  border-radius: 25px;
  top: 100px;
  left: 300px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
  text-align: left;
}
#com-2::after{
  position: absolute;
  content: '';
  top: 50%;
  right: 100%;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
  width: 0;
  height: 0;
}
#com-3{
  width: 200px;
  padding: 20px;
  position: absolute;
  background: #FFF9A4;
  border-radius: 25px;
  top: 230px;
  right: 300px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
  text-align: left;
}
#com-3::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 100%;
  border: 15px solid transparent;
  border-left: 15px solid#FFF9A4;
  width: 0;
  height: 0;
}
#config{
  font-size: 20px;
  color: grey;
}
.feature-container{
  display: flex;
  margin: 50px 0 100px 150px;
}
.f-ele{
  width: 250px;
  text-align: center;
  margin: 50px 20px;
  position: relative;
}
.f-ele p{
  font-size: 13px;
  text-align: left;
}
.f-ele img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.f-ele h3{
  font-size: 24px;
}
.ele1::before{
  content: "01";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  top: -5px;
  left: 6px;
}
.ele2::before{
  content: "02";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  bottom: 180px;
  left: 20px;
}
.ele3::before{
  content: "03";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  top: 20%;
  right: -10px;
}

/* お見積もり */
.price{
  text-align: center;
  background: #FBF9FA;
  padding-bottom: 100px;
  position: relative;
}
.price h1 {
  margin: 100px 0 80px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #F0E14C;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}
.price h1::after{
  content: "●";
  color: #FBF9FA;
  position: absolute;
  top: 25%;
  right: 20px;
}
.plan{
  display: flex;
}
.plan-ele{
  text-align: center;
  width: 33%;
  height: 400px;
  padding: 30px 10px;
  margin: 20px 5px;
  box-shadow: 5px 5px 5px 0 rgba(54, 9, 9, 0.4);
  position: relative;
}
.plan-ele h3{
  font-size: 40px;
  margin: 0;
}
.plan-y{
  background:#F0E14C;
}
.plan-details{
  margin: 100px 20px 0 20px;
}
.plan-details li{
  font-size: 12px;
  text-align: left;
  margin: 0;
}
.plan-ele h2{
  font-size: 43px;;
}
.plan-ele h2::before{
  content: "¥";
  color: #000;
  font-size: 30px;
}
.plan-ele p{
  position: absolute;
  top: 45%;
  right: 30px;
}
.find{
  text-align: center;
  margin-top: 50px;
}
.find-model{
  color: black;
  transition-duration: 0.5s;
  display: inline;
}
.find-model:hover{
  margin-left: 30px;
}
.arrows{
  position: relative;
  margin-top: 20px;
}
#up{
  position: absolute;
  background: #F0E14C;
  width: 250px;
  height: 3px;
  top: 0;
  left: 38%;
}
#right{
  position: absolute;
  background: #F0E14C;
  width: 3px;
  height: 20px;
  top: 0;
  left: 653px;
  transform: skew(135deg);
}
#bottom{
  position: absolute;
  background: #F0E14C;
  width: 3px;
  height: 35px;
  top: -15px;
  left: 643px;
}
.attention{
  margin-top: 50px;
}

/* スペック */
.spec{
  margin-top: 100px;
  text-align: center;
}
.spec h1{
  font-size: 40px;
  margin-bottom: 50px;
}

/* ストーリー */
.story{
  background: #f3f3f3;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
}
.story h1 {
  margin: 100px 0 80px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #F0E14C;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}
.story h1::after{
  content: "●";
  color: #F3F3F3;
  position: absolute;
  top: 25%;
  right: 20px;
}
.story-ele{
  display: flex;
}
.word{
  width: 50%;
  padding: 100px 50px;
  margin-left: 50px;
  line-height: 35px;
  color: #333333;
  text-align: left;
}
.phone img{
  width: 35%;
}
.more a{
  margin:100px 0 0 30px;
  color: #333333;
  transition-duration: .5s;
}
.more a:hover{
  padding-left: 30px;
}
#up2{
  position: absolute;
  background: #F0E14C;
  width: 150px;
  height: 3px;
  top: 0;
  left: 29%;
}
#right2{
  position: absolute;
  background: #F0E14C;
  width: 3px;
  height: 20px;
  top: 0;
  left: 235px;
  transform: skew(135deg);
}
#bottom2{
  position: absolute;
  background: #F0E14C;
  width: 3px;
  height: 35px;
  top: -15px;
  left: 226px;
  
}
.phone{
  margin-top: 50px;
}

/* 使ってみての感想 */
.review{
  text-align: center;
  background: #FBF9FA;
  padding-bottom: 100px;
  height: 1300px;
  position: relative;
}
.review h1 {
  margin: 100px 0 80px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #F0E14C;
  vertical-align: middle;
  padding: 20px 100px;
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}
.review h1::after{
  content: "●";
  color: #FBF9FA;
  position: absolute;
  top: 25%;
  right: 20px;
}
.re-up{
  position: relative;
}
.person1{
  position: absolute;
  top: 0;
  left: 10%;
}

.comment1{
  position: absolute;
  top: 100px;
  right: 10%;
}
.comment1 p{
  position: absolute;
  top: 100px;
  left: 20%;
}
.re-bot{
  position: relative;
}
.person2{
  position: absolute;
  top: 500px;
  right: 10%;
}

.comment2{
  position: absolute;
  top: 600px;
  left: 10%;
}
.comment2 p{
  position: absolute;
  top: 30%;
  left: 20%;
}



/* arrowチーム */
.team{
  padding-top: 100px;
  text-align: center;
  background: #f3f3f3;
  position: relative;
}
.team h1 {
  margin: 10px 0 100px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #F0E14C;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}
.team h1::after{
  content: "●";
  color: #F3F3F3;
  position: absolute;
  top: 25%;
  right: 20px;
}
.to-margin{
  width: 33%;
  
}
.mem-up .to-margin img{
  width: 100%
}

.mem-up{
  display: flex;
}
.arrow{
  background:#F0E14C;
  padding: 107px 109px;
  width: 13%;
  height: 146px;
}
.arrow p{
  font-size: 10px;
  text-align: left;
}
.mem-bottom{
  display: flex;
}
#page_top{
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0
}
#page_top a{
  position: relative;
  display: block;
  background: #F2E744;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 100px;
  bottom: 100px;
  text-decoration: none;
}

/* 擬似要素の練習 */
.to-margin{
  position: relative;
}
.rinkei::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: #fff;
  color: #000;
  content: "\ARinkei \Aハードウェア担当";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  display: inline-block;
  white-space: pre;
}
.waricoma::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  content: "\AWaricoma \Aソフトウェア担当";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  background-color: #fff;
  color: #000;
  display: inline-block;
  white-space: pre;
}
.anjyu::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  content: "\A Anjyu Style \Aデザイナー担当";
  white-space: pre;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  background-color: #fff;
  color: #000;
  display: inline-block;
}
.ryuji::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: #fff;
  color: #000;
  content: "\A Ryuji \Aフロントエンド担当";
  white-space: pre;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  display: inline-block;
}
.yuri::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: #fff;
  color: #000;
  content: "\A YURI យូរី \Aマネジメント担当";
  white-space: pre;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  display: inline-block;
}
.to-margin:hover::before{
  opacity: 0.5;
  transition-duration: 0.3s;
}
.rinkei{
  position: relative;
}
.icon{
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
  font-size: 50px;
  justify-content: space-between;
  margin: 40px 20px 10px 0;
  opacity: 1;
  color: #fff;
}
.icon{
  list-style: none;
}
/* りんけいさん */
div.rinkei ul.icon li {
  opacity: 0;
}
div.rinkei:hover ul.icon li {
  opacity: 0.6;
}
div.rinkei ul.icon li:hover {
  opacity: 1;
}
/* 割さん */
.waricoma{
  position: relative;
}
div.waricoma ul.icon li {
  opacity: 0;
}
div.waricoma:hover ul.icon li {
  opacity: 0.6;
}
div.waricoma ul.icon li:hover {
  opacity: 1;
}
div.anjyu ul.icon li {
  opacity: 0;
}
div.anjyu:hover ul.icon li {
  opacity: 0.6;
}
div.anjyu ul.icon li:hover {
  opacity: 1;
}
/* りゅうじ */
div.ryuji ul.icon li {
  opacity: 0;
}
div.ryuji:hover ul.icon li {
  opacity: 0.6;
}
div.ryuji ul.icon li:hover {
  opacity: 1;
}
/* ゆり */
div.yuri ul.icon li {
  opacity: 0;
}
div.yuri:hover ul.icon li {
  opacity: 0.6;
}
div.yuri ul.icon li:hover {
  opacity: 1;
}

/* モデル探すのページ */
.find-top{
  display: flex;
  margin: 50px;
}
#toHome{
  margin-left: 1060px;
  color: #333333;
  padding-top: 50px
}

.center2{
  text-align: center;
}

.choice-box{
  margin: 0px 50px 50px 150px;
  background: #ffffff;
  border-radius: 5%;
  padding: 50px;
  width: 1000px;
}

.para{
  display: flex;
  margin: 50px 20px 50px 80px;
  width: 800px;
}

.b1{
  margin-left: 300px
}

.b2{
  margin-left: 194px;
}

.b3{
  margin-left: 137px;
}

.b4{
  margin-left: 259px;
}

#button4{
  margin-left: 10px;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  margin-left: 30px;
  padding: 20px
}

.isActive{
  background: #F2E744;
  color: black;
  border-radius: 25%;
}

#search{
  background: #F2E744;
  padding: 20px 80px;
  border-radius: 5%;
  font-size: 20px;
}

.tohov:hover{
  background: #F2E744;
  opacity: .6;
  transition-duration: .6s;
  border-radius: 25%;
}

.result{
  border: 3px solid #F2E744;
  margin: 100px auto auto 225px;
  width: 70%;
  padding-bottom: 50px;
}

.result h3{
  font-size: 16px;
  font-weight: lighter;
  margin-right: 700px;
  margin-top: 50px
}

#model{
  font-size: 32px;
  font-weight: bold;
}

.res-up{
  display: flex;
  margin: 0 150px 0 250px;
  border-bottom: 1px solid #333333;
  width: 450px;
}

.res-up h2{
  margin-top: 60px;
  width: 50%;
}

.res-ele1{
  width: 50%;
}

.res-ele1 h4{
  font-size: 30px;;
  margin: 0;
}
.res-ele1 h5{
  font-size: 24px;
  margin: 0;
}
.res-ele1 ul li{
  font-size: 12px;
  padding: 0
}

.res-bot{
  display: flex;
  margin: 0 150px 0 250px;
  width: 450px;
}

.res-bot h2{
  margin-top: 60px;
  width: 50%;
}
.res-ele2 p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#row-1{
  background: #fff;
}

#row-2{
  background: #f3f3f3;
}

table{
  margin: 50px  0 20px 200px;
  border-collapse: collapse;
}

table th {
  padding: 10px 30px;
  border: 0px none;
}
table td {
  padding: 10px 50px;
  border: 0px none;
}

.footer{
  background: #F0E14C;
  width: 100%;
  margin-top: 80px;
}
.footer ul{
  display: flex;
  
}


.footer li a{
  padding: 10px 20px;
  margin-left: 130px;
}

.footer ul{
  margin-left: 200px;
  list-style: none;
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

#exp{
  margin-top: 100px;
}
#totop{
  margin-left: 100px;
}

.cr{
  margin-left: 100px;
}

/* 制作ストーリー */
.mk-story{
  margin: 200px;
  margin-top: 0;
}
.story-1{
  display: flex;
  position: relative;
}
#text1{
  background: #F1E987;
  width: 100%;
  height: 435px;
  text-align: left;
  padding: 20px;
}
#text1 h3{
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
  margin-left: 20px
}
#text1 p{
  padding: 20px 20px 0 20px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.story-2{
  display: flex;
  position: relative;
}
#text2{
  width: 580px;
  height: 480px;
  background: #F1E987;
}
#text2 p{
  margin: 0;
  text-align: left;
  padding: 30px;
}

.story-con img{
  vertical-align: top;
}

#text3{
  background: #F1E987;
  width: 460px;
  height: 690px;
  text-align: left;
  padding: 30px 30px 50px 30px;
}
#text3 h3{
  font-size: 24px;
  margin: 0;
  font-weight: lighter;
}
#text3 p{
  font-size: 14px;
}

.story-3{
  display: flex;
  position: relative;
}

.st3-left video{
  filter: none;
  vertical-align: top;
}



#text4{
  background: #F1E987;
  height: 484px;
  text-align: left;
  padding: 30px;
}

#text4 h3{
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
  margin-left: 20px
}
#text4 p{
  padding: 20px 20px 0 20px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.st3-left img{
  vertical-align: top;
}

.st3-right img{
  text-align: left;
  vertical-align: top;
}

#story-4{
  display: flex;
  position: relative;
}

#story-4 video{
  filter: none;
  vertical-align: top;
}

#story-5{
  display: flex;
  position: relative;
}

#story-5 img{
  vertical-align: top;
  filter: none;
  box-shadow: none;
}

#story-5 video{
  filter: none;
  vertical-align: top;
}

.st-comment{
  width: 100%;
  height: 250px;
  background: #F1E987;
  text-align: left;
}
.st-comment h3{
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
  margin-left: 40px;
  padding-top: 30px;
}
.st-comment p{
  padding: 30px 100px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.mk-story a{
  color: #000;
  text-decoration: underline;
}
.mk-story span{
  font-weight: bold;
}
.num{
  z-index: 500;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F1E987;
  text-align:center;
  line-height: 30px;
}
#num1{
  position: absolute;
  right: 25px;
  bottom: 10px;
}
#num2{
  position: absolute;
  bottom: 480px;
  left: 10px;
}
#num3{
  position: absolute;
  top:0;
  left: 10px;
}
#num4{
  position: absolute;
  top: 220px;
  right: 10px;
}
#num5{
  position: absolute;
  bottom: 0;
  left: 600px;
}
#num6{
  position: absolute;
  left: 10px;
  bottom: 10px;
}
#num7{
  position: absolute;
  top: 10px;
  right: 20px;
}
#num8{
  position: absolute;
  left: 20px;
  top: 0px;
}
#num9{
  position: absolute;
  right: 15px;
  bottom: 0;
}

#story-p{
  margin-top: 200px;
  font-size: 20px;
}