html{
  background: #FBF9FA;
}
.all{
  margin: 50px;
  
  
}
a{
  text-decoration: none;
  color: white;
  font-style: italic;
}
ul{
  font-weight: lighter;
}
li{
  margin-bottom: 20px;
}
ul li a {
  color: #F1F1F1;
  transition: color .3s;
  color: #000;
}

ul li a:hover {
  color: white;
}

.header{
  display: flex;
  position: relative;
}

.logomenu{
  margin-left: 20px;
}
.logomenu img{
  margin-left: 30px;
}
.menubar{
  background-color: #ffffff;
  border-radius: 5%;
  padding: 30px 20px 20px 20px;
  width: 180px;
  text-align: center;
  position: fixed;
}
.menubar li{
  list-style: none;
}

#logo{
  width: 100px;
  height: 100px;
}

#top{
  width: 1000px;
  margin-left: 150px;
}

.headline{
  position: absolute;
  top: 80%;
  left: 70%;
  color: white;
}

.new-center{
  margin-left: 300px;
}

.post-it {
  text-align: center;
}

.post-it h1{
  padding: 20px 30px;
  background: #E6CD55;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
  font-size: 40px;
  margin: 130px 0 80px 0;
}

.post-it h1::after{
  content: "●";
  color: #FBF9FA;
  position: absolute;
  top: 25%;
  right: 20px;
}

.about h1 {
  margin: 130px 0 80px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #E6CD55;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}

.about h1::after{
  content: "●";
  color: #FBF9FA;
  position: absolute;
  top: 25%;
  right: 20px;
}


.about{
  text-align: center;
  position: relative;
  height: 1500px;
}

.comment{
  display: block;
  height: 400px
}
#com-1{
  width: 200px;
  padding: 20px;
  position: absolute;
  background: #E6CD55;
  border-radius: 25px;
  top: 300px;
  right: 200px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
}
#com-1::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 100%;
  border: 15px solid transparent;
  border-left: 15px solid #E6CD55;
  width: 0;
  height: 0;
}

#com-2{
  width: 200px;
  padding: 20px;
  position: absolute;
  background: #fff;
  border-radius: 25px;
  top: 400px;
  left: 200px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
}
#com-2::after{
  position: absolute;
  content: '';
  top: 50%;
  right: 100%;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
  width: 0;
  height: 0;
}

#com-3{
  width: 200px;
  padding: 20px;
  position: absolute;
  background: #E6CD55;
  border-radius: 25px;
  top: 500px;
  right: 200px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .4));
}

#com-3::after{
  position: absolute;
  content: '';
  top: 50%;
  left: 100%;
  border: 15px solid transparent;
  border-left: 15px solid#E6CD55;
  width: 0;
  height: 0;
}

#config{
  font-size: 20px;
  color: grey;
}


.feature-container{
  display: flex;
  margin-left: 80px;
}

.f-ele{
  width: 250px;
  text-align: center;
  margin: 50px 20px;
  position: relative;
}

.f-ele p{
  font-size: 13px;;
}

.f-ele img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.f-ele h3{
  font-size: 24px;
}

.ele1::before{
  content: "01";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  top: -5px;
  left: 6px;
}

.ele2::before{
  content: "02";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  bottom: 180px;
  left: 20px;
}

.ele3::before{
  content: "03";
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: bolder;
  top: 20%;
  right: -10px;
}

.price{
  text-align: center;
  margin-top: 200px;
}

.price h1 {
  margin: 200px 0 80px 0;
  font-size: 40px;
  padding: 20px 30px;
  background: #E6CD55;
  vertical-align: middle;
  padding: 20px 100px;/*文字周りの余白*/
  border-radius: 0 50px 50px 0;
  display: inline-block;
  position: relative;
}

.price h1::after{
  content: "●";
  color: #FBF9FA;
  position: absolute;
  top: 25%;
  right: 20px;
}

.plan{
  display: flex;
}

.plan-ele{
  text-align: center;
  width: 33%;
  height: 350px;
  padding: 30px 10px;
  margin: 20px 5px;
  box-shadow: 5px 5px 5px 0 rgba(54, 9, 9, 0.4);
  position: relative;
}
.plan-ele h3{
  font-size: 40px;
  margin: 0;
}

.plan-y{
  background:#E6CD55;
}

.plan-details{
  margin: 100px 20px 0 20px;
}

.plan-details li{
  font-size: 12px;
  text-align: left;
  margin: 0;
}

.plan-ele h2{
  font-size: 43px;;
}

.plan-ele h2::before{
  content: "¥";
  color: #000;
  font-size: 30px;
}

.plan-ele p{
  position: absolute;
  top: 45%;
  right: 30px;
}

.spec{
  margin-top: 100px;
  text-align: center;
}

.spec h1{
  font-size: 40px;
  margin-bottom: 50px;
}

table{
  width: 100%;
  font-size: 16px;
  height: 200px;
}

th{
  width: 20%;
  margin: 20px 0;
}

td{
  width: 80%;
}

.bg-black{
  background: rgba(218,218,218,1);
}

.story{
  margin-top: 100px;
  text-align: center;
}

.story h1{
  font-size: 40px;
}

.upper{
  width: 100%;
  display: flex;
}
.up-pictures-up{
  display: flex;
  width: 100%;

}

.story-1{
  background:#E6CD55;
  padding: 20px;
}

.up-pictures-bottom{
  display: flex;
  width: 100%;
}

.team{
  margin-top: 100px;
  text-align: center;
}

.team h1{
  font-size: 40px;
}

.to-margin{
  width: 33%;
  
}

.mem-up .to-margin img{
  width: 100%
}

.mem-bottom img{
  width: 100%
}

.mem-up{
  display: flex;
}
.arrow{
  background:#E6CD55;
  padding: 100px;
  width: 13%
}

.mem-bottom{
  display: flex;
}

.to-margin{
  margin: 10px
}

#page_top{
  position: absolute;
  width: 50px;
  height: 50px;
  
  margin: 0
}
#page_top a{
  position: relative;
  display: block;
  background: #E6CD55;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 100px;
  bottom: 100px;
  text-decoration: none;
}

/* 擬似要素の練習 */

.to-margin{
  position: relative;

}

.rinkei::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  content: "Rinkei \Aハードウェア担当";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  color: #fff;
  display: inline-block;
  white-space: pre;
}
.waricoma::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  content: "Waricoma \Aソフトウェア担当";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  color: #fff;
  display: inline-block;
  white-space: pre;
}

.anjyu::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  content: "Anjyu \Aデザイナー";
  white-space: pre;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  color: #fff;
  display: inline-block;
}

.ryuji::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  content: "Ryuji \Aフロントエンド担当";
  white-space: pre;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  color: #fff;
  display: inline-block;
}

.yuri::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  content: "Yuri \Aマネジメント担当";
  white-space: pre;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 23px;
  opacity: 0;
  color: #fff;
  display: inline-block;
}

.to-margin:hover::before{
  opacity: 1;
  transition-duration: 0.3s;
}
.rinkei{
  position: relative;
}
.icon{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 50px;
  justify-content: space-between;
  margin: 40px 20px 0 0;
  opacity: 1;
  color: #fff;
}

.icon{
  list-style: none;
}

div.rinkei ul.icon li {
  opacity: 0;
}
div.rinkei:hover ul.icon li {
  opacity: 0.6;
}
div.rinkei ul.icon li:hover {
  opacity: 1;
}
.waricoma{
  position: relative;
}
div.waricoma ul.icon li {
  opacity: 0;
}
div.waricoma:hover ul.icon li {
  opacity: 0.6;
}
div.waricoma ul.icon li:hover {
  opacity: 1;
}

div.anjyu ul.icon li {
  opacity: 0;
}
div.anjyu:hover ul.icon li {
  opacity: 0.6;
}
div.anjyu ul.icon li:hover {
  opacity: 1;
}

div.ryuji ul.icon li {
  opacity: 0;
}
div.ryuji:hover ul.icon li {
  opacity: 0.6;
}
div.ryuji ul.icon li:hover {
  opacity: 1;
}

div.yuri ul.icon li {
  opacity: 0;
}
div.yuri:hover ul.icon li {
  opacity: 0.6;
}
div.yuri ul.icon li:hover {
  opacity: 1;
}